.ItemMove {
    width: 100%;
    height: 100vh;
    background-color: #1d1d1d;

    & .NavBar {
        background-color: rgb(47, 47, 255);

        & button {
            width: 100px;
            height: 50px;
            background-color: azure;
            margin: 10px;
        }
    }

    & .AreaMove {
        flex: 1;
        height: calc(100vh - 70px);
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;

        & .Move {
            /* margin-left: 20px; */
            height: 600px;
            width: 300px;
            background-color: whitesmoke;
            border-radius: 8px;
            margin-left: -300px;
            /* animation: MoveLeftToRight .6s ease-out forwards; */
            transition: all 0.5s ease;
        }

        & .Move.ativo {
            margin-left: 20px;
        }

        & .Move2 {
            /* margin-left: 20px; */
            height: 600px;
            width: 300px;
            background-color: whitesmoke;
            border-radius: 8px;
            margin-right: -300px;
            /* animation: MoveLeftToRight .6s ease-out forwards; */
            transition: all 0.5s ease;
        }

        & .Move2.ativo {
            margin-right: 20px;
            transition: all 5.5s ease;
        }

        & .RestoTela {
            /* margin-left: 20px; */
            height: 600px;
            width: 100%;
            background-color: whitesmoke;
            border-radius: 8px;

            transition: width 0.6s ease;
            flex: 1;
            /* margin-right: 20px; */
            margin: 0px 20px;
        }
    }
}
